@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
}

.main-header {
  grid-area: "main-header";
  display: grid;
  grid-template-areas:
    "home-button"
    "about-us-button";
  grid-template-columns: 8rem 8rem;
  border: none;
}

.about-us {
  grid-area: "about-us";
  display: grid;
  grid-template-areas:
    "about-us-image"
    "about-us-p";

  grid-template-rows: 50% 50%;
  position: sticky;
}

#home-button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(255, 0, 68);
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 4px;
  margin-top: 25px;
  transition: ease-out 0.6s;
  font-size: 2rem;
  outline: none;
  font-size: medium;
  width: 8rem;
  height: 2rem;
  border: none;
}

#about-us-button {
  border: none;
  text-transform: uppercase;
  background-color: rgb(255, 0, 68);
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 20px;
  transition: ease-out 0.6s;
  font-size: 2rem;
  outline: none;
  font-size: medium;
  width: 8rem;
  height: 2rem;
  border: none;
}

.about-us-p {
  color: blueviolet;
  margin-left: auto;
}

.about-us-image {
  box-shadow: inset;

  margin-left: 5%;
  margin-top: 10%;
  border-radius: 3%;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.about-us-p {
  margin-left: 20px;
  margin-top: 50px;
  margin-right: 20px;
}

.brewery-name {
  margin: auto;
}
