

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.welcomeMsg {
  text-align: center;
}

.search-bar {
  margin-bottom: 40px;
}

.search-form {
  margin: 20px 0;
}

.myButton {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.appContainer {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.myLoginContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}





